__pycache__/buildings.cpython-311.pyc
__pycache__/cards.cpython-311.pyc
__pycache__/gamestate.cpython-311.pyc
__pycache__/player.cpython-311.pyc
__pycache__/strategy.cpython-311.pyc
__pycache__/deck.cpython-311.pyc
